<html>
  <head>
    <title>Welcome to Our Platform</title>
  </head>
  <body>
    <h1>Welcome Aboard!</h1>
    <p>Hello,</p>
    <p>Your account has been created. Here are your login credentials:</p>
    <ul>
      <li>Email: {{email}}</li>
      <li>Temporary Password: {{password}}</li>
    </ul>
    <p>Please log in at: <a href='{{loginUrl}}'>{{loginUrl}}</a></p>
    <p>We recommend changing your password after first login.</p>
    <p>Best regards,<br />Your Platform Team</p>
  </body>
</html>